! ###########################################
! urxvt settings
! Author: Apo11oH
! ###########################################
! xft setting
xft.dpi:                96
xft.antialias:          true
xft.rgba:               rgb
xft.hinting:            true
xft.hintstyle:          hintslight

! general setting
urxvt.termName:         screen-256color
urxvt.depth:            32
urxvt.geometry:         1500x600
urxvt.loginShell:       true
urxvt.transparent:      false
urxvt.fading:           30
urxvt.saveLines:        512
urxvt.internalBorder:   3
urxvt.lineSpace:        0
urxvt.letterSpace:      -1

! font setting
urxvt.allow_bold:       false
!urxvt.font:             xft:SourceCodePro:size=10:antialias=true
urxvt.font:             xft:Source Code Pro for Powerline:pixelsize=15:antialias=true,xft:Inconsolata:pixelsize=13:size=10:antialias=true

! scrollbar
urxvt.scrollStyle:      rxvt
urxvt.scrollBar:        false

! input with IM at cursor position
urxvt.preeditType:      OverTheSpot

! Perl extentions
urxvt.perl-ext-common:  default,tabbed,clipboard
!urxvt.perl-ext-common:  default,tabbed
urxvt.matcher.button:   1
urxvt.url-launcher:     firefox
urxvt.tabbed.tabbar-fg: 2
urxvt.tabbed.tabbar-bg: 0
urxvt.tabbed.tab-fg:    3
urxvt.tabbed.tab-bg:    0
urxvt.keysym.Shift-Control-C: perl:clipboard:copy
urxvt.keysym.Shift-Control-V: perl:clipboard:paste
urxvt.keysym.Shift-Control-W: perl:clipboard:paste_escaped

! Control-arrow key
!urxvt.keysym.Control-Up:    \033[1;5A
!urxvt.keysym.Control-Down:  \033[1;5B
!urxvt.keysym.Control-Left:  \033[1;5D
!urxvt.keysym.Control-Right: \033[1;5C
!"\e[5C": forward-word
!"\e[5D": backward-word
!"\e\e[C": forward-word
!"\e\e[D": backward-word

! iso 14755 disable (for clipboard)
urxvt.iso14755:         false

! Colorscheme
urxvt.colorBD: #B5BD68
urxvt.colorIT: #B294BB
urxvt.colorUL: #91A2BE
!urxvt.background: #444
urxvt.background: rgba:0000/0000/0200/c800
urxvt.foreground: #eee
urxvt.cursorColor: #C3FF00
! black
urxvt.color0: #282A2E
urxvt.color8: #373B41
! red
urxvt.color1: #A54242
urxvt.color9: #CC6666
! green
urxvt.color2: #8C9440
urxvt.color10: #B5BD68
! yellow
urxvt.color3: #DE935F
urxvt.color11: #F0C674
! blue
urxvt.color4: #5F819D
urxvt.color12: #81A2BE
! magenta
urxvt.color5: #85678F
urxvt.color13: #B294BB
! cyan
urxvt.color6: #5E8D87
urxvt.color14: #8ABEB7
! white
urxvt.color7: #707880
urxvt.color15: #C5C8C6 
