#!/bin/bash

# Dbus fix
if [ -z "$DBUS_SESSION_BUS_ADDRESS" ]; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

/usr/bin/xdg-user-dirs-update

# configure obmenu user
sed -i 's/live/'$(whoami)'/' ~/.config/obmenu-generator/schema.pl \
                             ~/.config/obmenu-generator/config.pl  

(sleep 2 && spacefm -d) &

(sleep 2 && wicd-client --tray) &

(sleep 2 && ibus-daemon) &

(sleep 2 && dropboxd) &
